<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Jogoteca</title>
  </head>
  <body>
    <div class="container">
        <div class="page-header">
            <h1>{{ titulo }}</h1>
            <iframe width="1024" height="1060" src="https://app.powerbi.com/view?r=eyJrIjoiZGI0ZTFiMzMtNDExMS00M2RhLTg5M2QtY2UxM2IyZmZhYmNkIiwidCI6ImY3ZWNiMGI4LWJmYjAtNGFlOS05MjVkLWZiYmFkYmFlZDEwMCJ9&pageName=ReportSection" frameborder="0" allowFullScreen="true"></iframe>
        </div>
    </div>
  </body>
</html>